<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>글 리스트</title>
	
  		<link href="/public/semantic.min.css" rel="stylesheet" >
		
		<style>
			* {
				padding:0;
				margin:0;
				box-sizing:border-box;
			}
			
			html {
				width:100%;
				height:100%;
			}
			
			body {
				width:100%;
				height:100%;
				color: #000;
				background-color: #fff;
			}
					
			.container {
				margin-right: auto;
				margin-left: auto;
				padding-left: 20px;
				padding-right: 20px;
			}
	
			span {
				color: #333;
			}

			#board_title {
				font-size:1.2em;
				font-weight:bold;
				color:teal;
			}
			.align{
		float: right;
	}
	.menu{
		display: inline-block;
	}
		</style>
		
		
		<script src="/public/jquery-2.1.4.min.js"></script>
		<script src="/public/semantic.min.js"></script>
		
		<script>
			function listpost(page, perPage) {
				document.location = '/book/listpost?page=' + page + '&perPage=' + perPage;
			}

		</script>
		<!-- <link rel="stylesheet" href="/public/assets/css/main.css" /> -->
	</head>
	<body>
    	
    	<div class="container">

			<div class="ui raised segment">
				<a href='/book/listpost?page=0&perPage=2' class="ui blue ribbon label">도서 리스트</a>
				<a href='/book/listpost?page=0&perPage=2&class=총류' class="ui   label">총류</a>
				<a href='/book/listpost?page=0&perPage=2&class=철학' class="ui   label">철학</a>
				<a href='/book/listpost?page=0&perPage=2&class=종교' class="ui   label">종교</a>
				<a href='/book/listpost?page=0&perPage=2&class=사회과학' class="ui   label">사회과학</a>
				<a href='/book/listpost?page=0&perPage=2&class=자연과학' class="ui   label">자연과학</a>
				<a href='/book/listpost?page=0&perPage=2&class=기술과학' class="ui   label">기술과학</a>
				<a href='/book/listpost?page=0&perPage=2&class=예술' class="ui   label">예술</a>
				<a href='/book/listpost?page=0&perPage=2&class=언어' class="ui   label">언어</a>
				<a href='/book/listpost?page=0&perPage=2&class=문학' class="ui   label">문학</a>
				<a href='/book/listpost?page=0&perPage=2&class=역사' class="ui   label">역사</a>
				
				<div class="ui blue fluid card">
					 <div class="content">
       		
			      		
						<div class="ui grid">
			   				<div class="two wide column">번호</div>
			   				<div class="eight wide column">제목</div>
			   			</div>
				    		
						<div class="ui very relaxed selection celled list">
							<%  var noStart = (pageCount - page) * perPage;
								
							    for (var i = 0; i < posts.length; i++) {
									
								   var curTitle = posts[i]._doc.title||'0';
								   var curContents = posts[i]._doc.contents;
								   var curWriter = posts[i]._doc.writer.name;
                                   var curHits = posts[i]._doc.hits;  
								   var isBorrow=  posts[i]._doc.num;
								  var classfy=posts[i]._doc.classification;
									
								   var available="";
									
								   if(isBorrow=='0'){
									available="대출가능"
								   }else if(isBorrow=='2'){
									available="예약중"
								   }else{
									available="대출중"
								   }
								   var curNo =0;
								   var Date=posts[i]._doc.updated_at;
								   var month=Date.getMonth()+1;
								   var date=Date.getDate();
								   var year=Date.getFullYear();
								   var totalDate=year+'-'+month+'-'+date;
									   curNo=totalRecords-8*(page)-i;
									var calculatedItem=0;	   
									if(title=="글 검색" ){
									if( curTitle.indexOf(searchcontext)>=0){
										calculatedItem+=1;
										calculatedPage=Math.ceil(calculatedItem/8);
									//	console.log('calculatedItem : ' + calculatedItem);
								   %>
								    <div class="item">
										<div class="ui grid">
						    				<div class="two wide column" ><%=curNo %></div>
						    				<div class="fourteen wide column" onclick="javascript:window.location='/book/showbook/<%=posts[i]._id %>'">
						    					<div class="ui header">
										    		<h4 class="ui left aligned header">
										    			<%=curTitle %>
										    		</h4>
											      	<h5 class="ui right aligned orange header">
														<%=classfy%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<%=available %>
											      			<%=curWriter %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<%=totalDate %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											        		
															
											      	</h5>
												</div>
						    				</div>
						    			</div>
						    		</div>
								<%}}else{%>
														    <div class="item">
										<div class="ui grid">
						    				<div class="two wide column" ><%=curNo %></div>
						    				<div class="fourteen wide column" onclick="javascript:window.location='/book/showbook/<%=posts[i]._id %>'">
						    					<div class="ui header">
										    		<h4 class="ui left aligned header">
										    			<%=curTitle %>
										    		</h4>
											      	<h5 class="ui right aligned orange header">
														<%=classfy%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<%=available %>
											      			<%=curWriter %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<%=totalDate %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

											      	</h5>
												</div>
						    				</div>
						    			</div>
						    		</div>
							<%}%>
							<% } %>	
						 
				    	</div>
			    	 
						<div class="tiny ui basic buttons">
					 		<%
					 			if (page > 0) {
					 		%>
					 				<div class="ui icon button" onclick="listpost(0, <%=perPage %>)">
										<i class="backward icon"></i>
									</div>
									<div class="ui icon button" onclick="listpost(<%=(page-1) %>, <%=perPage %>)">
										<i class="left chevron icon"></i>
									</div>
					 		<%
					 			} else {
					 		%>
					 				<div class="ui disabled icon button">
										<i class="backward icon"></i>
									</div>
									<div class="ui disabled icon button">
										<i class="left chevron icon"></i>
									</div>
					 		<%
					 			}
					 		%>
					 		<% 
					 			var initial = Math.floor(page / 10) * 10;
					 			//console.log('initial : ' + initial);
					 			
					 			var max = pageCount - initial;
					 			if (max > 10) {
					 				max = initial + 10;
					 			} else {
					 				max = initial + max;
					 			}
					 			//console.log('max : ' + max);
					 			
					 			for (var i = initial; i < max; i++) {
					 				if (i != page) {
					 		%>
					 					<div class="ui button" onclick="listpost(<%=i %>, <%=perPage %>)">
					 						<%= i %>
					 					</div>
					 		<%
					 				} else {
					 		%>
					 					<div class="ui active basic button">
					 						<%= i %>
					 					</div>
					 		<% 
					 				}
					 			}
					 		%>
					 		<%
					 			if ((page+1) < pageCount) {
					 		%>
					 				<div class="ui icon button" onclick="listpost(<%=(page+1) %>, <%=perPage %>)">
										<i class="right chevron icon"></i>
									</div>
									<div class="ui icon button" onclick="listpost(<%=(pageCount-1) %>, <%=perPage %>)">
										<i class="forward icon"></i>
									</div>
					 		<%
					 			} else {
					 		%>
					 				<div class="ui disabled icon button">
										<i class="right chevron icon"></i>
									</div>
									<div class="ui disabled icon button">
										<i class="forward icon"></i>
									</div>
					 		<%
					 			}
					 		%>
					 	</div>
						 	  
						<br><br>
						<div class="menu">
						
						<!-- <a class="ui button"  href='/views/addBook.ejs'>글쓰기</a> -->
							
						<a class="ui button"  href='/'>홈으로</a>
						<form  method="post" class="align" style="display:inline;" width="100%" height="100%" action="/book/search">
				
							<input class="center" type="text" name="search" minlength="2" placeholder="검색어 입력"> 
							
							<input type="submit" value="검색" name="" />
						</form>
					</div>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>

