<!DOCTYPE html>
<html>

	<head>
		<!-- <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"> -->
		
  		<!-- <link href="/public/semantic.min.css" rel="stylesheet" > -->
		 	
		<title>Digital Of Pages</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
				<link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
		<script src="/public/bootstrap/js/bootstrap.min.js"></script>
  		<link href="/public/semantic.min.css" rel="stylesheet" >
		<script src="/public/jquery-3.1.1.min.js"></script>
		<script src="/public/semantic.min.js"></script>
	
		<script type="text/javascript" src="/public/dist/js/service/HuskyEZCreator.js" charset="utf-8"></script>

		<script type="text/javascript">
		
			function searchBook(code){
				win=open("/views/applyNewBook.ejs?request=0","new page","width=400,height=300");
				win.moveTo(500,100);
				
			}
			window.onload=()=>{
			
				console.log("imgPath"+document.getElementById("imgPath").href)
				if(document.getElementById("imgPath").href==''){
					document.getElementById("img").style.display='none';
				}else{
					document.getElementById("img").src = document.getElementById("imgPath").href;
				}
				
			}
			</script>
			<script>
			$(document).ready(function() {
				var output = $("#contentsOutput").text();
				
				$("#contentsOutput").html(output);
				 
			});
		</script>
		<style>
			
		</style>
		</head>
<body class="is-preload">
  <div class="container">
	    <br>
     
		<div class="ui raised segment">
			
     		<h4 class="ui dividing header">History Of Book</h4>
		
			
			<div class="ui blue fluid card">
				 <div class="content">
			       
					
			<div class="card mb-3">
				<div class="row g-0">
					<div class="col-md-4">
						<%if(post.bookinfo){%>
						<a href="<%=post.bookinfo%>" id="imgPath">
							<img scr="" width="148" height="210" id="img" />
						</a>

						<%}%>
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h2 class="card-title"><%if(post){%> <%=post.title%> <%}%></h2>

							<p class="card-text" id="contentsOutput"><%if(post){%> <%=post.contents%> <%}%></p>
							
						</div>
						<div class="card-body">
						
						
							</div>
					</div>
				</div>
			</div>
						
					
				<br>
					 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel"><%=post.writer.name %></h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						  </div>
						  <div class="modal-body">
								<img  class="img-fluid" style="border: 2px solid;" src="<%=profile%>">
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" onclick="javascript:window.location='/user/friend?friend=<%=post.writer.email %>'">프로필 보러가기</button>
						  </div>
						</div>
					  </div>
					</div>
					 
					 <div class="right floated author" data-bs-toggle="modal" data-bs-target="#exampleModal">
	      					<img class="ui avatar image" style="border: 2px solid;" src="<%=profile%>"> <%=post.writer.name %>
	    				</div>
					 
						
							<a class="ui button" href="/">Home</a>
							<%if(post.writer.email==login){%>
								
								<a class="ui button"  href='/post/deleteHistoryOfBook/<%=post._id %>'>삭제</a>
							<%}%>
								
						
				
				</div>
			</div>
	  </div>

	</div>

</body>

</html>