<!DOCTYPE HTML>

<html>
	<head>
		<title>Digital Of Pages</title>
		<meta charset="utf-8" />
		<meta property="og:image" content="/public/Digital Of Pages_logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="SHORTCUT ICON" href="/public/Digital Of Pages_logo.png"/>
		 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
		<link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
		<script src="/public/bootstrap/js/bootstrap.min.js"></script>
  		<link href="/public/semantic.min.css" rel="stylesheet" >
		<script src="/public/jquery-3.1.1.min.js"></script>
		<script src="/public/semantic.min.js"></script>
	<script>
		window.onload=function(){
		var response = window.matchMedia("(min-width: 430px)");

		if (response.matches) {

		} else {
			
			document.getElementById("responsible").style.display="none";
			
		}
		}

</script>
			<style>
ul{
   list-style:none;
   }
</style>
	</head>
<body  class="landing is-preload">
			<% include ./header.ejs %>
		<div id="page-wrapper" class="container" >			
				
			<div class="page-header text-center">
		
		        <h1>마이페이지</h1>
		      
		    </div>
			
			<br>
		    <div class="row">
		
		        <div class="sm-6">
		            <div class="card" >
		            
						
							
						<div  class="card-body">
							<h3 class=" text-center">대출 중인 도서</h3>
							<div class="card-body">
						
								<ul class="list-group">
									<% 
									for (var i = 0; i < posts.reservationlist.length; i++) {
										var borrow_day = posts.reservationlist[i].updated_at;
										var today = new Date();
										var dateTerm = Math.ceil((today.getTime()-borrow_day.getTime())/(1000*3600*24));
										if(borrow_day.getMonth==today.getMonth){
											dateTerm=(today.getDate()-borrow_day.getDate());
										}
										if(dateTerm<=14){
										%>

										<li  >
											<a class="btn" href='/book/showbook/<%=posts.reservationlist[i]._id %>'>
												<strong>제목 :</strong> 
												<%=posts.reservationlist[i].title%>[<strong>저자 :</strong><%=posts.reservationlist[i].author%>] </a>
											
												<a  class="btn btn-primary" href='/book/return/<%=posts.reservationlist[i]._id %>'>반납</a>
												<a  class="btn btn-primary" href='/book/loanByQrcode/<%=posts.reservationlist[i]._id %>?request=borrow'><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
  <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
</svg>QR로 반납하기</a>
											
										
										</li>
								
									<%}
									} %>	
								</ul>
							</div>
	
								
								<P></P>
							<h3 class="text-center">연체 중인 도서</h3>
							<div>
								<ul>
									<% for (var i = 0; i < posts.reservationlist.length; i++) {
										var borrow_day = posts.reservationlist[i].updated_at;
										var today = new Date();
										
										var dateTerm = Math.ceil((today.getTime()-borrow_day.getTime())/(1000*3600*24));
										if(borrow_day.getMonth==today.getMonth){
											dateTerm=(today.getDate()-borrow_day.getDate());
										}
										if(dateTerm>14){
										%>

									<li><a href='/book/showbook/<%=posts.reservationlist[i]._id %>'>
										<strong>제목 :</strong> <%=posts.reservationlist[i].title%>[<strong>저자 : </strong><%=posts.reservationlist[i].author%>] </a>
											<a class="btn btn-default" href='/book/return/<%=posts.reservationlist[i]._id %>'>반납</a>
											<a class="btn btn-default" href='/book/loanByQrcode/<%=posts.reservationlist[i]._id %>?request=borrow'>QRcode_return</a>
											
										</li>
								
									<% }
									} %>	
								</ul>
							</div>
					
								

			               
						</div>	

						<br>
						
		            </div>
		        </div>
		
		    </div>
			
		</div>	
			
			
	</body>
</html>